<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My tasks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/digitallytailored/classless@latest/classless.min.css">
</head>
<body>
<h1>My tasks</h1>

<!-- Tasks list -->
<ul>
    <li th:each="task : ${tasks}">
        <b th:text="${task.title}"></b> -
        <span th:text="${task.description}"></span> |
        <span th:text="${task.status}"></span> |
        <span th:text="${task.priority}"></span>
        <form th:action="@{/tasks/delete/{taskId}(taskId=${task.id})}" method="post" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
<p th:if="${#lists.isEmpty(tasks)}">No tasks!</p>

<!-- Add task form -->
<h2>Add new task</h2>
<form th:action="@{/tasks/add}" th:object="${newTask}" method="post">
    <label>Title: <input type="text" th:field="*{title}"></label><br>
    <label>Description: <input type="text" th:field="*{description}"></label><br>
    <label>Status:
        <select th:field="*{status}">
            <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
        </select>
    </label><br>
    <label>Priority:
        <select th:field="*{priority}">
            <option th:each="priority : ${priorities}" th:value="${priority}" th:text="${priority}"></option>
        </select>
    </label><br>
    <button type="submit">Add task</button>
</form>

<!-- Logout -->

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>